<head>
    <link rel="stylesheet" src="profile.component.css">
</head>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </nav><div class="cont">
<div class="container centered">
    <h1>
        Welcome...!Let's Create Your Profile
    </h1>
    <h2>
        Let others get to know you better!You can do these later

    </h2>
    <h3>
        Create your Aavtar 
    </h3>
</div>
<br><br>
<div class="Neon Neon-theme-dragdropbox">
    <input style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;" name="files[]" id="filer_input2" multiple="multiple" type="file">
    <div class="Neon-input-dragDrop">
        <div class="Neon-input-inner">
            <div class="Neon-input-icon">
                <i class="fa fa-file-image-o"></i>
            </div>
                <div class="Neon-input-text">
                    <h3>Drag&amp;Drop files here</h3> 
                    <span style="display:inline-block; margin: 15px 0">or</span>
                </div>
                    <a class="Neon-input-choose-btn blue">Browse Files</a>
                </div>
            </div>
    </div>

    <div class="form-outline centered">
        <h1>Add your location
        </h1>
        <input type="text" id="form3Example97" class="form-control form-control-lg" />
        <label class="form-label" for="form3Example97">Location</label>
      </div> 
      <div class="btn">
        <input type="submit" style="background-color: palevioletred; color: whitesmoke; border-radius: 5px;width: 100px; border: none;">
      </div>
    </div>