<head>
    <link rel="stylesheet" src="select.component.css">
</head>

<div class="container centered">
    <h1 class="container">What Brings you to Dribbble ?
    </h1>
    <h3>Select the option that best describe you. Don't worry, You can explore other options later.
    </h3>
    <div id="radio-cards-container">
        <!-- Radio Card 1 -->
        <div class="radio-card radio-card-1" onclick="selectRadioCard('1')">
            <!-- Radio Card Check (tick) icon. By default, its hidden. Will be displayed when card gets clicked. -->
            <div class="radio-card-check">
                <i class="fa-solid fa-check-circle"></i>
            </div>
            <!-- Section to display the icon, label, and some additional text -->
            <div class="text-center">
                <div class>
                    <img url="https://i.ytimg.com/vi/47dul8CPnwA/maxresdefault.jpg"  />
                </div>
                <div class="radio-card-label">
                    Designer
                </div>
                <div class="radio-card-label-description">
                    I'm looking to hire a <br> designer.<br><br>
                    <input type="radio">
                </div>
            </div>
        </div>
        <!-- Radio Card 2 -->
        <div class="radio-card radio-card-2" onclick="selectRadioCard('2')">
            <!-- Radio Card Check (tick) icon. By default, its hidden. Will be displayed when card gets clicked. -->
            <div class="radio-card-check">
                <i class="fa-solid fa-check-circle"></i>
            </div>
            <!-- Section to display the icon, label, and some additional text -->
            <div class="text-center">
                <div class="radio-card-icon">
                    <img url="https://i.ytimg.com/vi/47dul8CPnwA/maxresdefault.jpg" />
                </div>
                <div class="radio-card-label">
                    Hiring
                </div>
                <div class="radio-card-label-description">
                    I'm looking to hire a <br> designer.<br><br>
                    <input type="radio">
                </div>
            </div>
        </div>
        <!-- Radio Card 3 -->
        <div class="radio-card radio-card-3" onclick="selectRadioCard('3')">
            <!-- Radio Card Check (tick) icon. By default, its hidden. Will be displayed when card gets clicked. -->
            <div class="radio-card-check">
                <i class="fa-solid fa-check-circle"></i>
            </div>
            <!-- Section to display the icon, label, and some additional text -->
            <div class="text-center">
                <div class="radio-card-icon">
                    <img  url="https://i.ytimg.com/vi/47dul8CPnwA/maxresdefault.jpg"/>
                </div>
                <div class="radio-card-label">
                    Design
                </div>
                <div class="radio-card-label-description">
                    I'm looking for design <br> Inspiration.<br><br>
                    <input type="radio">
                </div>
            </div>
            
        </div>
    </div>
    <div class="cen">
        Anything else? You can select multiple
    </div>
    <button>Finish</button>
</div>